[submodule "ClassroomRepo"]
	path = ClassroomRepo
	url = https://github.com/UCLLWeb2-2021-classroom/web2-project-JesseStorms
[submodule "02Labo_Servlets"]
	url = https://github.com/JesseStorms/02Labo_Servlets
